.form__group input,
.form__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #F4F4F4;
  color: #000;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 0.8rem;
  color: #CCCCCC;
}

.form button {
  color: #fff;
}
