.hero {
  padding-top: 60px !important;
}
.hero__content h5 {
  color: #575757;
  font-weight: 400;
}

.hero__content {
  padding-top: 50px;
}

.hero__img {
  position: relative;
  z-index: 9;
 
}

.hero__img img {
  border-radius: 50px 50px 50px 50px;
}


@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 1.5rem !important;
  }

  .hero__content h5 {
    font-size: 1.1rem !important;
  }

  .hero__img img {
    width: 250px !important;
    height: 250px !important;
  }

}

